<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="handleEditPlayer(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="handleKickPlayer(element)">
                <mat-icon>person_remove</mat-icon>
                <span>Kick</span>
            </button>
        </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef>Order</th>
    <td mat-cell *matCellDef="let element">
      <!--
            <ng-container *ngIf="checkIsPlayerTurn(element)">
                <span matBadge="*" matBadgeOverlap="false">{{ element.order }}</span>
            </ng-container>
            -->
      <ng-container>
        {{ element.order }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }} <span *ngIf="checkIsMe(element)">(me)</span>
      <mat-icon *ngIf="element.state === 'Disconnected'">
        signal_wifi_off
      </mat-icon>
    </td>
  </ng-container>

  <ng-container *ngFor="let tracker of trackers" [matColumnDef]="tracker.id">
    <th mat-header-cell *matHeaderCellDef>{{ tracker.name }}</th>
    <td mat-cell *matCellDef="let element">
      {{ getTrackerValue(element, tracker.id) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    [class.player-is-active]="checkIsPlayerTurn(row)"
    *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
