<form [formGroup]="joinGameForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field appearance="outline">
        <mat-label>Entry Code</mat-label>
        <input matInput formControlName="entryCode">
    </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    </p>

    <button type="submit" [disabled]="joinGameForm.invalid" mat-raised-button>Join</button>
</form>