<h1>{{ title$ | async }}</h1>

<mat-card *ngIf="players$ | async">
  <mat-card-header>
    <mat-card-title>Turn Summary</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="players$">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="turnCount">
        <th mat-header-cell *matHeaderCellDef> Turns </th>
        <td mat-cell *matCellDef="let element"> {{ element.turnCount }} </td>
      </ng-container>

      <ng-container matColumnDef="avgTurnDuration">
        <th mat-header-cell *matHeaderCellDef> Avg Turn </th>
        <td mat-cell *matCellDef="let element"> {{ formatTurnDuration(element.avgTurnDuration) }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'turnCount', 'avgTurnDuration']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'turnCount', 'avgTurnDuration'];"></tr>
    </table>
  </mat-card-content>
</mat-card>

<ng-container *ngFor="let tracker of trackers$ | async">
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ tracker.name }} History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-summary-tracker-chart
    [tracker]="tracker"
    [players]="players$ | async">
    </app-summary-tracker-chart>
  </mat-card-content>
</mat-card>
</ng-container>
