<mat-action-row>
  <button
    mat-raised-button
    type="button"
    color="accent"
    (click)="onStartGame()"
    *ngIf="game?.state === 'Preparing'">
    Start Game
  </button>
  <button
    mat-raised-button
    type="button"
    color="warn"
    (click)="onAdvanceTurn()"
    *ngIf="game?.state === 'InProgress'">
    Force End Turn
  </button>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="onEndGame()"
    *ngIf="game?.state === 'InProgress'">
    End Game
  </button>
</mat-action-row>
