<mat-action-row>
  <button
    mat-raised-button
    type="button"
    color="accent"
    (click)="onStartGame()"
    *ngIf="game?.state === GameState.Preparing">
    Start Game
  </button>
  <button
    mat-raised-button
    type="button"
    color="warn"
    (click)="onAdvanceTurn()"
    *ngIf="game?.state === GameState.InProgress">
    Force End Turn
  </button>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="onEndGame()"
    *ngIf="game?.state === GameState.InProgress">
    End Game
  </button>
  <button
    mat-stroked-button
    type="button"
    color="primary"
    (click)="onReorder()"
    *ngIf="game?.state !== GameState.Complete">
    Reorder
  </button>
</mat-action-row>
