<h2 mat-dialog-title>Reorder Players</h2>
<mat-dialog-content>
  <mat-table
    #table
    [dataSource]="newPlayers"
    cdkDropList
    [cdkDropListData]="newPlayers"
    (cdkDropListDropped)="dropTable($event, table)">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="drag-cursor">reorder</mat-icon>
        <span>{{ element.order }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      cdkDrag
      [cdkDragData]="row"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-stroked-button
          color="primary"
          [mat-dialog-close]="newPlayers">
    Save
  </button>
</mat-dialog-actions>
