/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import 'app/variables.scss';

@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes($my-light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($my-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.sidenav-content {
  margin: 30px;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.login-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.login-actions {
  margin-left: unset !important;
}
