.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  min-width: 250px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  /* background-color:rgb(63, 81, 181); */
}

mat-sidenav-content {
  margin-top: 56px;
}