<div class="navbar-container" [class.navbar-is-mobile]="mobileQuery.matches">
  <!-- Top Navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{ title }}</span>

    <span class="navbar-spacer"></span>

    <span>
        <ng-content select="toolbar-actions"></ng-content>
    </span>
  </mat-toolbar>

  <mat-sidenav-container
    class="navbar-sidenav-container"
    (backdropClick)="closeSidenav.emit()">
    <mat-sidenav
      [opened]="sidenavOpen"
      fixedTopGap="56"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      (keydown.escape)="closeSidenav.emit()"
      class="sidenav">
        <ng-content select="sidenav-content"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <ng-content select="main-content"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
