name: Publish Image

on:
  push:
    branches: [ "main" ]
    tags: ["v*"]
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ github.repository_owner }}/game-manager

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.gitversion.outputs.informationalVersion }}
      tags: ${{ steps.meta.outputs.tags }}
      labels: ${{ steps.meta.outputs.labels }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0
    - name: Docker Metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ghcr.io/${{ env.IMAGE_NAME }}

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - run: dotnet restore
      working-directory: ./src
    - run: dotnet test --coverage --coverage-output-format cobertura --report-xunit-trx --report-xunit-html --results-directory ./TestResults
      working-directory: ./src
    - uses: actions/upload-artifact@v6
      with:
        name: test-results
        path: ./src/TestResults

  build:
    runs-on: ubuntu-latest
    needs: [version, test]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the Docker image
      uses: docker/build-push-action@v3
      with:
        build-args: |
          version=${{ needs.version.outputs.version }}
        context: .
        push: true
        tags: ${{ needs.version.outputs.tags }}
        labels: ${{ needs.version.outputs.labels }}
